.footer {
  background-color: $base-color;
  .container {
    text-align: center;
    ul {
      display: inline-block;
      overflow: auto;
      margin-top: 20px;
      li {
        list-style-type: none;
        float: left;
        cursor: pointer;
        a i {
          background: lighten($base-color, 30%);
          color: $base-color;
          width: 35px;
          height: 35px;
          border-radius: 20px;
          font-size: 25px;
          text-align: center;
          margin-right: 5px;
          padding-top: 15%;
          cursor: pointer;
          &:hover {
            background: white;
          }
        }
      }
    }
  }
}
