.skillset {
  text-align: center;
  background-color: $gray-bg;
  padding-bottom: 80px;
  .col-md-4 {
    img {
      height: 60px;
    }
    p {
      color: gray-bg-text;
      margin: 10px;
    }
  }
}

.skillset-column {
  margin-top: 40px;
}