//setting fonts to desired default sizes
h1 {
  font-size: 500%;
  font-family: $header-font;
}

h2 {
  font-size: 300%;
  font-family: $main-font-medium;
}

h3 {
  font-size: 200%;
  font-family: $main-font-medium;
  margin-bottom: 20px;
}

h4 {
  font-size: 150%;
  font-family: $main-font-medium;
}

p {
  font-size: 120%;
  font-family: $main-font-light;
  line-height: 180%;
}